html body {
    background-image: url('../img/csw_img1.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
}

html h4 {
    color: white !important; 
}

html .custom-label {
    color: #888 !important; /* Light gray color for labels */
}
html .btn-primary {
    background-color: #007bff; /* Primary button color */
    color: #fff; /* Text color for the button */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px 20px; /* Add padding to the button */
}

/* Add hover effect to the button */
html .btn-primary:hover {
    background-color: #0056b3; /* Darker color on hover */
}

/* Updated success message styling */
html .alert.alert-success {
    background-color: #4CAF50; /* Green background for success messages */
    color: #fff; /* White text color */
    text-align: center; /* Center-align text */
    border: none; /* Remove alert border */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px 20px; /* Add padding to the alert */
    margin-top: 20px; /* Add margin to separate from content */
}




